SetEnv APPLICATION_ENV production
#SetEnv APPLICATION_ENV development
php_value magic_quotes_gpc off

Options +FollowSymlinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.graphicore.de [NC]
RewriteRule ^(.*)$ http://graphicore.de/$1 [L,R=301]

#via http://www.askapache.com/htaccess/redirect-index-blog-root.html
#rewrite http://graphicore.de/index.php to http://graphicore.de/ but avoid infinite loops
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ http://graphicore.de/ [R=301,L] 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

#http://graphicore.de/index.php/en/diary/graphicdesign
#http://graphicore.de/index.php/en/archive/2010-07-09_i-live-again
RewriteRule ^index\.php/(.*)$ http://graphicore.de/$1 [NC,L,R=301]





#RewriteEngine on
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
# RewriteRule ^.*$ ./index.php [NC,L]
