@import url(fonts/fonts.css);

/* general stuff*/
html, body {
    margin: 0;
    padding: 0;
    font-family: "subseq-modern", monospaced;
    font-size: 16px;
    background: darkgrey;
}

html{
    overflow-y: scroll;
}

body {
    background: white;
    width: 998px;
    padding: 0 30px 3em 30px;
    margin: 0 auto;
}

button{
    font-family: inherit;
}

h1, h2, h3, h4{
    font-family: "subseq-classic", monospaced;
}

nav h1, nav h2, nav h3, nav h4 {
    margin: 0;
    padding: 0;
    
}

nav .item>*:first-child {
    display: inline;
}
nav .item>*:first-child:after {
    content: ' ';
}


 nav h2, nav h3, nav h4, h3{
    font-family: "subseq-modern", monospaced;
    font-weight: bold;
}

h3{
    font-size: 1.5em;
    letter-spacing: 0.05em;
}

nav h3 {
    letter-spacing: 0.05em;
}

nav h2{
    font-family: "subseq-modern", monospaced;
    text-transform:uppercase;
    font-weight: normal;
    font-size: 1.6em;
}

nav .item > h2:first-child{
    display: block;
}

nav h1:before {
    content: 'Inhalt ';
    font-family: 'subseq-classic';
    font-size: 1.8em;
    text-transform: none;
}
nav h1{
    margin-bottom: 1em;
    font-family: 'subseq-modern';
    font-weight: normal;
    text-transform: uppercase;
}


nav li li li {
    padding-left: .7em;
}



nav h4 {
    font-family: subseq-classic;
    font-weight: bold;
    font-size: 1.3em;
}


nav .item{
    display:block;
    cursor: pointer;
}

nav .item>p{
    display: inline;
}


nav{
    font-size: .9em;
}

header {
    border-top: 1px solid white;
    
    text-align: center;
    padding-top: 1em; 
    margin: 0 0 1em 0;
    font-size: 1.4em;
}

header img{
    display:block;
    margin: 0 auto .7em auto;
    width: 8.4em;
}

header .branch {
    display: block;
    margin: 0 auto;
    text-transform:uppercase;
    letter-spacing: .04em;
}

nav {
    width: 998px;
    margin: 0 auto;
}
.tocs > .toc{
    display: None;
}

.tocs > .toc.active{
    display:block
}

.tocs > .toc ol{
    padding:0;
    margin:.0;
    list-style:none;
    display: block;
}

.tocs > .toc li{
    margin-top: 1em;
}

.tocs > .toc li:hover>*:first-Child {
    background: #a98c4a
}


.tocs > .toc > ol{

}

.tocs > .toc > ol > li {
    display: inline-block;
    vertical-align: top;
    
    
    margin-right: 10px;
    width: 235px;
    border-left: 2px solid #a98c4a;
    padding-left: 5px;
    padding-bottom: .5em;
    margin-bottom: 1em;
}
.tocs > .toc > ol > li:nth-child(4n+0){
    margin-right: 0;
}

nav>.switch-toc {
    font-size: 1.2em;
}

nav>.switch-toc menu{
    padding:0;
    margin: 1em 0 0 0;
    /* initially visible display: none;*/
    
}
nav>.switch-toc menu>button{
    font-family: "subseq-modern";
    vertical-align: top;
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    width: 50%;
    height: 2em;
    line-height: 100%;
    padding-top: .1em;
    font-size: 1.3em;
    
    border-radius: 0;
    border-style: solid;
    border-color: white;
    border-width: 0;
    
    border-left-width: 0;
    border-right-width: 1px;
    margin-bottom: 2px;
    
    cursor:pointer;
    background: rgba(169, 140, 74, .3);
    color: #666;
}

button::-moz-focus-inner {
  /* hide the dotted border firefox displays */
  border: 0;
}

nav>.switch-toc menu>button:hover{
    background: rgba(169, 140, 74, .8);
    color: #333;
}

nav>.switch-toc menu>button.active{
    background: rgba(169, 140, 74, 1);
    color: black;
}


nav>.switch-toc menu>button:nth-child(2n+0) {
    border-left-width: 1px;
    border-right-width: 0;
}


nav>.switch-toc .call-to-action {
    text-align: center;
    margin: 0;
}

nav>.switch-toc .call-to-action button{
    border: none;
    font: 'subseq-modern';
    cursor:pointer;
    background: rgba(169, 140, 74, .3);
    color: black;
    padding-top: 0.3em;
}
nav>.switch-toc .call-to-action button:hover {
    background: rgba(169, 140, 74, .8);
    color: black;
}

button.toggle-menu {
  font-family: 'subseq-classic';
  
  background: rgba(169, 140, 74, .3);
  color: black;
  
  
  display: block;
  border: none;
  position: relative;
  font-size: 1.3em;
  
  height: 1em;
  padding-left: 1.25em;
}
button.toggle-menu:hover {
    background: rgba(169, 140, 74, .8);
    color: black;
}
button.toggle-menu:before{
    content: "";
    position: absolute;
    top: -0.0em;
    left: 0;
    width: 1em;
    height: 0.200em;
    border-top: 0.600em double black;
    border-bottom: 0.200em solid #000;
}
button.toggle-menu:after{
    font-family: 'subseq-modern';
    content: '▼';
    font-size: .7em;
    display:inline-block;
}

button.toggle-menu.active:after{
    content: '▲'
}

nav>.switch-toc .cool-down{
    font-size: .8em;
    text-align: right;
    margin: .5em 0;
    
}

nav span.subseq {
    font-family: subseq-classic;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.3em;
}
nav span.subseq-group {
    font-family: subseq-modern;
    font-weight: normal;
    text-transform: uppercase;
}

.meta-navi{
    position:relative;
    list-style: none;
    padding:0;
    margin:0 0 1em 0;
    text-align:right;
}
.meta-navi li{
    position:absolute;
    right:0;
    display:inline-block;
    border-right: 2px solid rgba(169, 140, 74, 1);
    vertical-align: middle;
    margin: 0 .15em 0 0;
    padding: 0 .15em 0 0;
}
.meta-navi li a{
    padding: 0 .3em;
}

.meta-navi li:last-Child{
    border:none;
}
