@font-face {
    font-family: "subseq-classic";
    font-weight: 400;
    font-style: normal;
    src:url("Perpetua.woff") format("woff");
}
@font-face {
    font-family: "subseq-classic";
    font-weight: 700;
    font-style: normal;
    src:url("Perpetua-Bold.woff") format("woff");
}

@font-face {
    font-family: "subseq-classic";
    font-weight: 400;
    font-style: italic;
    src:url("Perpetua-Italic.woff") format("woff");
}

@font-face {
    font-family: "subseq-classic";
    font-weight: 700;
    font-style: italic;
    src:url("Perpetua-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "subseq-modern";
    font-weight: 400;
    font-style: normal;
    src:url("UniversLTStd-Light.woff") format("woff");
}
@font-face {
    font-family: "subseq-modern";
    font-weight: 700;
    font-style: normal;
    /* UniversLTStd-Bold.woff */
    src:url("UniversLTStd-BoldCn.woff") format("woff");
}

@font-face {
    font-family: "subseq-modern";
    font-weight: 400;
    font-style: italic;
    src:url("UniversLTStd-LightObl.woff") format("woff");
}
@font-face {
    font-family: "subseq-modern";
    font-weight: 700;
    font-style: italic;
    /* UniversLTStd-BoldObl.woff */
    src:url("UniversLTStd-BoldCnObl.woff") format("woff");
}
